:root
{
    --brandG: #008c15;
    --brandY: #ffc600;
}

html
{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 0;
}

body
{
    margin: 0;
    background-color: var(--brandY);
    height: 120vh;
}

/* NAVBAR */

#navbar
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100px;
    width: 100vw;
    background-color: white;
    color: var(--brandG);
    z-index: 999;
    position: fixed;
    margin-top: 0;
}

#navbar ul
{
    margin: 0;
    list-style-type: none;
    float: right;
    height: 100px;
    width: 50vw;
}

#navbar li
{
    float: right;
    box-shadow: 8px 6px 8px #1117;
    height: 100px;
    min-width: 120px;
    justify-content: center;
    background: white;
    transition: height .5s ease;
}

#navbar li:hover
{
    height: 110px;
}

#navbar div a
{
    display: block;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    color: var(--brandG);
    height: 40px;
    padding: 28px 8px;
}

.logo img
{
    max-height: 100px;
    max-width: 45vw;
}

#hidden
{
    height: 100px;
}

/* BODIES AND CONTAINERS */

.bodyY
{
    min-height: 200px;
    background: var(--brandY);
    color: var(--brandG);
}

.bodyG
{
    min-height: 200px;
    background: var(--brandG);
    color: var(--brandY);
}

.double
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 20px auto;
}

.text
{
    font-size: x-large;
    text-align: center;
}

/* SLIDESHOW */

.slideshow img
{
    aspect-ratio: 1/1;
    height: 0;
    background-color: #1117;
    visibility: hidden;
}

/* MAP */
.Pop-up{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.Pop-up h1{
font-size: 1.5rem;
text-align: center;
}
.Pop-up h2{
font-weight: 100;
}
#map
{
    height: 90vh;
    width: 90vw;
    margin: auto;
    z-index: 1;
    top: 100px;
}