:root
{
    --brandG: #008c15;
    --brandY: #ffc600;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
}

#navbar
{
    height: 100px;
    background-color: white;
    color: var(--brandG);
}

#logo img
{
    height: 100px;
}

#map
{
    height: 400px;
    width: 500px;
}