:root
{
    --brandG: #008c15;
    --brandY: #ffc600;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
}

#navbar
{
    display: grid;
grid-template-columns: 3fr 1fr;
    height: 100px;
    background-color: green;
    color: var(--brandG);
    z-index: 999;
    position: sticky;
}

#navbar div a{
    margin: auto;
display: block;
    font-size: 2vw;
margin-left: 3rem;
text-decoration: none;
text-align: center;
}
.logo img
{
    height: 100px;
}

#map
{
    height: 90vh;
    width: 90vw;
    margin: auto;
}